#container {
    display: flex;
    width: 95vh;
    height: 95vh;
}

.divColumn {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.squareDiv {
    flex-grow: 1;
    border: solid 1px;
    border-color: black;
}